body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  margin-bottom: 50px;
}

.content {
  background: #e3f4ff;
  font-size: 16px;
}

.button-container {
  background: #e3f4ff;
  font-size: 36px;
  text-align: center;
  margin-top: 20px;
  
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  font-size: 36px;
  padding: 10px;
  margin: 0 auto; 
  
}